<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bincomict.cordovaapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CordovaApp</name>
    <description>
        A simple Cordova application.
    </description>
    <author email="okeowoemmanuelm@gmail.com" href="https://kings-tech-portfolio.vercel.app">
        Okeowo Emmanuel
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
